QApplication {
    border-radius: 12px;
    border-style: outset;
    border-width: 0px;
    font-family: Minecraft;
    font-size: 16px;
    text-align: left;
}

QWidget {
    border-radius: 12px;
    border-style: outset;
    border-width: 0px;
    font-family: Minecraft;
    font-size: 16px;
    text-align: left;
}



QLabel {
    background-color: #14522A;
    padding: 12px;
}

QLabel#background {
    background-color: transparent;
    border-radius: 0px;
    padding: 0px;
}

QLabel#page_title {
    background-color: #14522A;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 32px;
    padding: 0px;
    text-align: center;
}



QPushButton {
    background-color: #14522A;
    padding: 12px;
    text-align: center;
}

QPushButton::pressed {
    background-color: #0A2915;
    padding: 12px;
    text-align: center;
}

QPushButton#home_buttons {
    font-size: 24px;
    padding: 12px;
    text-align: left;
}

QPushButton#settings_icon {
    background-color: transparent;
    padding: 0px;
}

QPushButton#user_label_left {
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    text-align: left;
}

QPushButton#user_label_right {
    border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    text-align: left;
}



QLineEdit {
    background-color: rgba(60, 80, 20, 0.5);
    border-color: #14522A;
    border-radius: 12px;
    border-style: outset;
    border-width: 4px;
}

QLineEdit#edit_users {
    border-radius: 16px;
    border-width: 2px;
}



QTabWidget {
    background-color: transparent;
    border-color: #14522A;
    border-radius: 12px;
    border-style: outset;
    border-top-left-radius: 0px;
    border-width: 4px;
}

QTabWidget::pane {
    background-color: transparent;
    border-color: #14522A;
    border-radius: 12px;
    border-style: outset;
    border-top-left-radius: 0px;
    border-width: 4px;
}


QTabBar::tab {
    background-color: #14522A;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    padding: 10px;
}

QTabBar::tab:selected {
    background-color: #0A2915;
}



QFormLayout {
    background-color: transparent;
}

QGroupBox {
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
}



QScrollBar {
    background-color: transparent;
}

QScrollBar::handle {
    background-color: transparent;
}

QScrollBar::sub-line {
    background-color: transparent;
}

QScrollBar::add-line {
    background-color: transparent;
}



QComboBox {
    background-color: #14522A;
    border-radius: 12px;
    border-style: outset;
    padding: 10px;
}

QComboBox::down-arrow {
    background-image: url(images:small_down.png);
    background-position: left center;
    background-repeat: no-repeat;
    height: 40;
    width: 40;
}

QComboBox::drop-down:button {
    border-color: #0A2915;
    border-width: 0px;
    border-left-width: 1px;
    border-radius: 0px;
}
